<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/fsn</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">mh09016</property>
    <mapping resource="Modelo/Categoria.hbm.xml"/>
    <mapping resource="Modelo/Plantillaactividad.hbm.xml"/>
    <mapping resource="Modelo/Mantenimiento.hbm.xml"/>
    <mapping resource="Modelo/Especificacionactivo.hbm.xml"/>
    <mapping resource="Modelo/Ubicacionfisica.hbm.xml"/>
    <mapping resource="Modelo/Municipio.hbm.xml"/>
    <mapping resource="Modelo/Tipoactivo.hbm.xml"/>
    <mapping resource="Modelo/Persona.hbm.xml"/>
    <mapping resource="Modelo/UnidadOrganizativa.hbm.xml"/>
    <mapping resource="Modelo/Detallecategoria.hbm.xml"/>
    <mapping resource="Modelo/Departamento.hbm.xml"/>
    <mapping resource="Modelo/Cargo.hbm.xml"/>
    <mapping resource="Modelo/Transferencia.hbm.xml"/>
    <mapping resource="Modelo/Usuario.hbm.xml"/>
    <mapping resource="Modelo/Tipomodalidad.hbm.xml"/>
    <mapping resource="Modelo/Actividad.hbm.xml"/>
    <mapping resource="Modelo/Empleado.hbm.xml"/>
    <mapping resource="Modelo/Activo.hbm.xml"/>
    <mapping resource="Modelo/Tipopersona.hbm.xml"/>
    <mapping resource="Modelo/Tipodesafectacion.hbm.xml"/>
    <mapping resource="Modelo/Tipoestado.hbm.xml"/>
    <mapping resource="Modelo/Inventario.hbm.xml"/>
    <mapping resource="Modelo/Rolpersona.hbm.xml"/>
    <mapping resource="Modelo/Rol.hbm.xml"/>
    <mapping resource="Modelo/Desafectacion.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
